
<div id="tasks">
<% @tasks.each do |task| %>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card cyan">
      <div class="card-content white-text">
        <span class="card-title">Task: <%= task.title %></span>
        <p>Description: <%= task.description %></p>
      </div>
      <div class="card-action">
        <a class="waves-light btn light-blue" href="tasks/<%= task.id %>">Inspect</a>
        <a class="waves-light btn light-blue" href="tasks/<%= task.id %>/edit">Edit</a>
        <form method="post" action="/tasks/<%= task.id %>" class="right">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="waves-light btn light-blue" value="DELETE">
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
